/*
 Theme Name:   BeMor Child Theme
 Theme URI:    https://bemormedia.com/
 Description:  Twenty Nineteen Child Theme
 Author:       Creative Cache
 Author URI:   https://bemormedia.com/
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemorchild
*/

body {
	font-family: source-sans-pro, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: fieldwork, sans-serif;
	font-weight: 400 !important;
}

.site-header.featured-image .custom-logo-link {
    background: transparent;
    box-shadow: none;
}

.custom-logo-link img {
	max-width: 300px;
	width: 100%;
}

#colophon .site-info {
	word-wrap: normal;
}